<h2>Welcome to the Cocktail Shaker!! </h2>
<div><%= image_tag(href= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQJp_6uDBKmutJm1nMpemT7gVQG0Z7aFQU6V2Kfm3vRk7ShFLf", width: '800px') %></div>
<p>This application was built with love, for those of us who enjoy not
making delicious cocktails, but drinking them.  I hope you find this
app enjoyable and easy to use.  Create as many different cocktail recipies
as you like.  Don't be shy.</p>