<h1>The Current List of Our Cocktails</h1>
<ol>
<% @cocktails.each do |cocktail| %>
<li><pre> <%= link_to cocktail.name, <%= cocktail.mixologist.email.split("@").first %> cocktail_path(cocktail) %></pre></li>
<br>
<% end %>
</ol>
 