<h1><%= @cocktail.name %></h1>
<% @cocktail.measurements.each do |m| %>
   <li><%= m.alcohol.etoh_name %></li></br>
   <% end %>
</br>
<%= @cocktail.instructions%>
<br>
<br>
<%= link_to "Click here to Edit this cocktail", edit_cocktail_path(@cocktail) %>